<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<div class="container">
    <h3> 輸入文字：<input class="form-control" type="text" name="ftext" ng-model="mText">
        <br>

        <br> 選擇圖片： <input class="form-control" type="file" name="pic" accept="image/*" ng-model="mImage">

    </h3>
    <div class="button btn btn-default">新增文字與圖片</div>
</div>
<br><br>
<div class="container table-responsive">
    <table class="table">
        <tr>
            <th>編號</th>
            <th>文字內容</th>
            <th>圖片</th>
        </tr>

        <tr>
            <td>1</td>
            <td>文字內容</td>
            <td>圖片
                <div class="pull-right">
                    <div class="btn btn-warning">刪除</div>
                    <div class="btn btn-default">編輯</div>
                </div>
            </td>

        </tr>
    </table>
</div>